[v-cloak] {
    display:none;
}
body {
    margin: 0;
    background: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.wrapper {
    width: 500px;
    margin: 100px auto;
}
#app {
    height: 500px;
    box-shadow: 0 0 50px 1px #aaa;
}
.game-message {
    color: #fff;
    margin-bottom: 2em;
}
.win-message {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.display-none {
    display: none;
}
.overlay {
    position: absolute;
    width: 500px;
    height: 500px;
    text-align:center;
    line-height: 500px;
}
.overlay button {
    border: 0;
    outline: 0;
    background: #fff;
    font-size: 1.5rem;
    padding: 8px 16px;
    color: #015b00;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.2s;
}
.overlay button:hover {
    box-shadow: 0 0 50px 1px #aaa;
}
.overlay button:active {
    transform: scale(0.95);

}
.wink-out, .wink-in {
    animation-name: wink-out;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.wink-in {
    animation-direction: reverse;
}
@keyframes wink-out {
    from {transform: scale(1);}
    to {transform: scale(0);}
}
