body {
    margin: 0;
    background: #222;
}
#app {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    box-shadow: 0 0 50px 1px #aaa;
}
.overlay {
    position: absolute;
    width: 500px;
    height: 500px;
    text-align:center;
    line-height: 500px;
}
.overlay button {
    border: 0;
    outline: 0;
    background: #fff;
    font-size: 1.5rem;
    padding: 8px 16px;
    color: #015b00;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.2s;
}
.overlay button:hover {
    box-shadow: 0 0 50px 1px #aaa;
}

.overlay button:active {
    transform: scale(0.95);

}

.wink-out, .wink-in {
    animation-name: wink-out;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.wink-in {
    animation-direction: reverse;
}

@keyframes wink-out {
    from {transform: scale(1);}
    to {transform: scale(0);}
}
